.simplePullQuote{
	position: relative;
	width:200px;
	float:right;
	border-top:3px #868686 solid;
	border-bottom:3px #868686 solid;
	background: top left no-repeat url("../images/quote.png");
	text-indent:10px;
	padding:6px;
	margin:10px 0 10px 10px;
	-webkit-box-shadow: 7px 7px 8px #818181;
  	-moz-box-shadow: 7px 7px 8px #818181;
  	z-index: 1;
}
.simplePullQuote .quotation_mark {
	position: absolute;
    top: -14px;
    left: -10px;
    color: #d9d9d9;
    font-size: 4em;
    z-index: 100;
}
.simplePullQuote p {
	z-index: 200;
}